<main>
  <section>
    <label>Enter user token:</label>
    <textarea [value]="userToken"></textarea>
  </section>

  <section>
    <label>Enter proxy servers(seperat with ";" between ip addresses):</label>
    <textarea [value]="proxyServerAddresses"></textarea>
  </section>

  <section>
    <label class="enable_compressing">Enable compressing:</label>
    <input type="checkbox" [value]="enableCompressing" />
    <div class="placeholder"></div>
  </section>

  <section>
    <button>Start</button>
    <button>Stop</button>
    <button>Monitor</button>
  </section>
</main>
<router-outlet></router-outlet>
